@import url("https://fonts.cdnfonts.com/css/pokemon-solid");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #3da673;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;

  font-family: "Pokemon Solid", sans-serif;
}

div {
  margin-top: 0;
  display: row;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  justify-content: center;

  .Button {
    display: flex;
    flex-direction: row;
    button {
      background-image: linear-gradient(to right, #aaffa9 0%, #11ffbd 51%, #aaffa9 100%);
      margin: 10px;
      padding: 15px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: black;
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: block;
    }

    button:hover {
      background-position: right center; /* change the direction of the change here */
      color: #8074d6;
      text-decoration: none;
    }
  }

  figure {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    text-shadow: 4px 4px white;
    color: black;
    img {
      border: solid 0.5rem rgb(255, 255, 255);
      border-radius: 10%;
    }
  }
}
